<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/}"
                  th:object="${requestDto}" method="post" class="form-horizontal"
                  role="form">
                <h2>Provide parameter to get data</h2>
                <div class="form-group">
                    <div class="col-sm-12">
                        <p th:if="${message != null }" th:text="${message}" style="font-style: italic; color: red"></p>
                        <label class="form-label">Asin</label>
                        <input type="text" th:field="*{asin}" placeholder="search"
                               class="form-control" />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">IP</label>
                        <input type="text" th:field="*{ip}" placeholder="IP Address"
                               class="form-control" />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Port</label>
                        <input type="text" th:field="*{port}" placeholder="Port"
                               class="form-control" />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">UserName</label>
                        <input type="text" th:field="*{userName}" placeholder="UserName"
                               class="form-control" />
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Password</label>
                        <input type="text" th:field="*{password}" placeholder="Password"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary btn-block">Process</button>
                    </div>
                </div>
                <div th:if="${display} and ${message == null}">
                    <h3>Product Information:</h3>
                    <p th:utext="'<strong>Asin</strong>: ' + ${asin}"></p>
                    <p th:utext="'<strong>cat</strong>: ' + ${cat}"></p>
                    <p th:utext="'<strong>Price</strong>: ' + ${price}"></p>
                    <p th:utext="'<strong>Prime</strong>: ' + ${prime}"></p>
                    <p th:utext="'<strong>Status</strong>: ' + ${status}"></p>
                    <p th:utext="'<strong>depth</strong>: ' + ${depth}"></p>
                    <p th:utext="'<strong>Full Desctipion</strong>: ' + ${fullDescription}"></p>
                    <p th:utext="'<strong>Height</strong>: ' + ${height}"></p>
                    <p th:utext="'<strong>Image</strong>: ' + ${images}"></p>
                    <p th:utext="'<strong>Review</strong>: ' + ${review}"></p>
                    <p th:utext="'<strong>Short Description</strong>: ' + ${shortDescription}"></p>
                    <p th:utext="'<strong>Star</strong>: ' + ${star}"></p>
                    <p th:utext="'<strong>Title</strong>: ' + ${title}"></p>
                    <p th:utext="'<strong>Weight</strong>: ' + ${weight}"></p>
                    <p th:utext="'<strong>Width</strong>: ' + ${width}"></p>
                    
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>